[Unit]
After=network.target
Description=Mihomo (Clash Meta), Good Way to Love GFW

[Service]
ExecStart=/usr/bin/mihomo -d /home/novel2430/clash
Restart=on-abort
Type=simple

[Install]
WantedBy=default.target

